<h1>@ViewData["Title"]</h1>
@model IEnumerable<MiMWebsite.Models.ItemModel>
@{
	ViewData["Title"] = "MiM Item index";
}
<h1>@ViewData["Title"]</h1>
<table class="table">
	<tr>
		<th>ID item</th>
		<th>ชื่อ item</th>
		<th>ราคา</th>
		<th>รายละเอียด</th>
		<th>รูป</th>
	</tr>
	@foreach (var item in Model)
	{
		<tr>
			<td>@item.id</td>
			<td>@item.ItemName</td>
			<td>@item.ItemPrice</td>
			<td>@item.ItemDetail</td>
			<td>
                <img src="@item.ItemImage"height="80px" />
            </td>
		</tr>
	}
</table>