<h1>@ViewData["Title"]</h1>
@model IEnumerable<MiMWebsite.Models.TransactionModel>
@{
	ViewData["Title"] = "MiM index";
}
<h1>@ViewData["Title"]</h1>
<table class="table">
	<tr>
		<th>ID user</th>
		<th>เบอร์บัญชี</th>
		<th>ชื่อ Account</th>
		<th>เบอร์โทร</th>
		<th>รหัสผ่าน</th>
		<th>ยอดเงินคงเหลือ</th>
	</tr>
	@foreach (var item in Model)
	{
<tr>
	<td>@item.id</td>
	<td>@item.ItemID</td>
	<td>@item.TrxStatus</td>
	<td>@item.Seller</td>
	<td>@item.Buyer</td>
	<td>@item.AmountTotal</td>
	<td>@item.Created</td>
</tr>
	}
</table>